[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = Nick Pezza
	email = pezza@hey.com
	signingkey = DD16D8FE96F6761D
[alias]
	co = checkout
	br = branch
	st = status
	a  = add
	ci = commit
	d  = diff --color-moved --patience -w
	can = commit --amend --no-edit
  sw = switch
	ctags = !.git/hooks/ctags
[push]
	default = simple
[commit]
	gpgsign = true
[fetch]
	prune = true
[core]
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	excludesfile = /Users/nick/.gitignore
	attributesfile = /Users/nick/.gitattributes
[diff]
	compactionHeuristic = true
[color]
	ui = always
[color "status"]
	added = green
	changed = yellow
	untracked = magenta
  deleted = red
[pager]
	branch = false
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[init]
	templatedir = ~/.git_template
[rebase]
	autoStash = true
[pull]
	rebase = true
