snippet pry "binding.pry"
binding.pry
endsnippet

snippet rb "#!/usr/bin/env ruby -wKU"
#!/usr/bin/env ruby -wKU

endsnippet

snippet testcla "Make test class"
require "test_helper"

class ${1:class_name}Test < ActiveSupport::TestCase
	test "${2:test_name}" do
		$0
	end
end
endsnippet

snippet in "include Module .."
include ${1:Module}

$0
endsnippet

snippet pr "Start private section .."

private

$0
endsnippet
